* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.page1 {
  height: 100vh;
}

.nav {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav-2 ul {
  display: flex;
  gap: 30px;
}

.nav ul li {
  list-style: none;
  font-size: larger;
}

.nav ul li a {
  text-decoration: none;
}

.animated-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16rem;
}

.text {
  font-size: 16rem;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px white;
  position: relative;
}

.hero-sub {
  font-size: 4rem;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.floating-images {
  opacity: 0;
}

.image-wrapper {
  position: absolute;
}

.image-desc {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
